#taskbar {
    background-color: rgb(112, 190, 185);
    position: fixed;
    width: 100%;
    height: 6%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

#logo {
    margin-right: auto;
    padding-left: 10px;
}

#logo img {
    width: 50px;
    height: 50px;
}

.listTask {
    margin: 0 3%;
    background-color: rgb(69, 129, 125);
    padding: 3px 5%;
}

.listTask a {
    color: rgba(255, 255, 255, 0.904);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

body{
    background-color: #F3B13B; 
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5%);
    padding-top: 6%;
}

#programme {
    max-width: 100%;
    height: auto;
}

/* Style du carrousel */
.carousel {
    position: relative;
    width: 600px; /* largeur du carrousel réduite */
    height: 400px; /* hauteur du carrousel réduite */
    margin: 40px auto;
    overflow: hidden;
    border: 10px solid rgb(69, 129, 125); /* bordure ajoutée */
    border-radius: 20px; /* bordure arrondie */
    z-index: 0;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  .carousel-item {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 36px;
    color: #fff;
    background-color: rgba(69, 129, 125, 0.5); /* ajout de transparence */
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    transition: background-color 0.3s; /* ajout d'un effet de transition */
  }
  
  .carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(69, 129, 125, 0.8); /* changement de couleur au hover */
  }
  
  .carousel-prev {
    left: 20px;
  }
  
  .carousel-next {
    right: 20px;
  }
  
  .text {
    background-color: #fff8dc;
    padding: 20px;
    border: 6px solid #8b4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: "Playfair Display", serif;
    font-size: 18px;
    color: #333;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .text p {
    margin: 0;
    padding: 10px;
  }
  
  .text p:last-child {
    border-bottom: none;
  }

  .image-container {
    float: right;
    margin: 10px;
}

.text-container {
    overflow: hidden;
}

.image-text-container {
    overflow: hidden;
}

.image-left {
    float: left;
    margin: 10px;
}

.image-left img {
    width: 326px;
    height: 489px;
}

.text-right {
    overflow: hidden;
}